* {
    box-sizing: border-box;
    margin: 0 auto;
  
}


/*NAVBAR*/


.logo {
    width: 50%;
    max-width: 100%
    
}

.topbar {
    background-color: #674582;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-transform: uppercase;  
    z-index: 1;
    top: 0;

}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;    
    display: flex;
    width: 400px;
    padding: 0;
}

li {
    margin: 10px;

}

.icon-social {
    padding: 5px;
}

.hamburguer {
    padding: 5px;
    display: none;
}

.icons {
    display: flex;
    margin-right: 10%;
}

.logo {
    margin-left: 15%;
}

/* HEADER */

.background{
    background: url(../img/bg-banner-claro.png);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.textos {
    padding-bottom: 10%;
    width: 54%;
    color: #ffffff;
    margin-left: 25%;
}

.titulo {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 36px;
}

.subtitulo {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    margin-top: 3%;
}

.div__btn {
    margin-top: 3%;
}

.btn {
    border: 1px solid #C083B9;
    background: #C083B9;
    padding: 1% 5%;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

/* SECTION*/

.section__titulo--roxo{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: #63458A;
    margin-top: 5%;
    text-align: center;
}

.section__img-todas {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;  
}

.section__img img {
    width: 30%;
    background-color: #63458A;
    border-radius: 5px;
}

.section__nome {
    font-family: 'Montserrat';
    font-size: 24px;
    margin-top: 2%;
    margin-bottom: 10%;
}

/* FOOTER */



.background__footer--black {
    background-color: #323534;
    height: 180px;
    display: flex;
    align-items: center;
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    margin: 0 auto;
    
}

.footer__menu-item {
    display: flex;
}   

.footer__logo img {
    width: 50%;
}

.footer__fb-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__fb-icon img {
    width: 10%;
}

/*PAGINA 2*/

.section__container {
    margin-left: 25px;
    margin-right: 25px;
}

.perfil {
    background-image: url(../img/gloriamaria.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    top: 60px;
}

.titulo__perfil {
    color: #ffffff;
    margin-bottom: 3%;
}

.titulo__perfil-gloria {
    font-size: 55px;
}

/* SOBRE */

.section__container {
    max-width: 960px;
    margin: 0 auto;
}

.section__img-texto-sobre-citacao {
    font-family: 'Montserrat';
    color: #63458A;
    margin: 40px auto;
    align-items: center;
    width: 70%;
    max-width: 70%;;
}

.section__img-texto-sobre {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.section__img-gloria {
    text-align: center;
    background: #63458A;
    border-radius: 5px;
    width: 100%;    
    max-width: 100%;
}

.img__gloria-sobre {
    width: 100%;
    border-radius: 100%;
    padding: 15px; 
    max-width: 100%;
}

.section__sobre-gloria {
   font-size: 16px;
   padding: 20px;
   max-width: 70%;
   line-height: 1.2;   
}

/* CITACAO */

.section__citacao--borda{
    display: flex;
    margin-top: 30px;
    border: 3px solid #E5E5E5;
    padding: 20px;
    text-align: center; 
    font-weight: 800;
    line-height: 1.5;
}

/*HISTÓRIA*/

.section__historia {
    width: 70%;
    font-family: 'Montserrat';
    color: #63458A;
    line-height: 1.5;
}

.section__titulo-perfil {
    font-size: 20px;
}

.section__historia-perfil {
    margin-top: 15px;
}
.section__imagem-passaporte {
    width: 100%;
    text-align: center;
}

.passaporte {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* ASIDE */

aside {
    max-width: 960px;
    margin-top: 30px;
}

.aside__autora {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4b7e5;
    margin-bottom: 50px;
    width: 100%;
    max-width: 100%;
}

.imagem__autora {
    display: flex;
    margin: 0;
    
}

.imagem__foto-autora {
    width: 40%;
    height: 40%;
    max-width: 100%;

}

.info__autora {
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 16px;
    color: #63458A;
    margin: 0;
}

.info__texto-autora {
    margin: 0;
    display: flex;
    width: 55%;
    flex-direction: column;
    text-align: center;
}

.aside__link-github {
    color: #63458A;
}

/*BOTÃO FOOTER* (só está perto do footer mas não está dentro do footer*/

.div__btn-footer {
    margin-bottom: 50px;
    text-align: center;
}



.btn-footer {
    align-content: center;
    border: 1px solid #C083B9;
    background: #C083B9;
    padding: 1% 5%;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

/*RESPONSIVO*/

@media (max-width: 800px) {

    .logo {
        width: 100px;
        max-width: 70px;
    }
}

@media (max-width: 768px) {

    .logo {
        width: 200px;
        max-width: 130px;
    }

    .icon-social {
        display: none;
    }

    .hamburguer {
        display: flex;
        width: 50px;
        max-width: 50px;  
    }

    ul {
        width: 80px;
    }

    .perfil {
        background-repeat: no-repeat;
        background-size: 768px;

    }

}